# CONFIG_ESP32P4_SELECTS_REV_LESS_V3 is not set
# CONFIG_ESP32P4_REV_MIN_0 is not set
# CONFIG_ESP32P4_REV_MIN_1 is not set
# CONFIG_ESP32P4_REV_MIN_100 is not set
# CONFIG_ESP32P4_REV_MIN_300 is not set
CONFIG_ESP32P4_REV_MIN_301=y
CONFIG_ESP32P4_REV_MIN_FULL=301
CONFIG_ESP_REV_MIN_FULL=301
CONFIG_ESP32P4_REV_MAX_FULL=399
CONFIG_ESP_REV_MAX_FULL=399
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_360=y
# CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_400 is not set
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=360
# CONFIG_CACHE_L2_CACHE_128KB is not set
CONFIG_CACHE_L2_CACHE_256KB=y
# CONFIG_CACHE_L2_CACHE_512KB is not set
CONFIG_CACHE_L2_CACHE_SIZE=0x40000
# CONFIG_CACHE_L2_CACHE_LINE_64B is not set
CONFIG_CACHE_L2_CACHE_LINE_128B=y
CONFIG_CACHE_L2_CACHE_LINE_SIZE=128
CONFIG_CACHE_L1_CACHE_LINE_SIZE=64
# CONFIG_ESPTOOLPY_FLASHSIZE_2MB is not set
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

# ESP32-P4 Function EV Board: P4 host + onboard ESP32-C6 Wi-Fi coprocessor.
CONFIG_SLAVE_IDF_TARGET_ESP32C6=y
CONFIG_ESP_HOSTED_P4_DEV_BOARD_FUNC_BOARD=y
# CONFIG_ESP_HOSTED_SPI_HOST_INTERFACE is not set
CONFIG_ESP_HOSTED_SDIO_HOST_INTERFACE=y
# CONFIG_ESP_HOSTED_SPI_HD_HOST_INTERFACE is not set
CONFIG_ESP_HOSTED_SPI_HSPI=y
# CONFIG_ESP_HOSTED_SPI_VSPI is not set
CONFIG_ESP_HOSTED_HS_ACTIVE_HIGH=y
CONFIG_ESP_HOSTED_DR_ACTIVE_HIGH=y
CONFIG_ESP_HOSTED_SPI_RESET_ACTIVE_HIGH=y
CONFIG_ESP_HOSTED_SPI_HSPI_GPIO_MOSI=14
CONFIG_ESP_HOSTED_SPI_HSPI_GPIO_MISO=15
CONFIG_ESP_HOSTED_SPI_HSPI_GPIO_CLK=18
CONFIG_ESP_HOSTED_SPI_HSPI_GPIO_CS=19
CONFIG_ESP_HOSTED_SPI_GPIO_MOSI=14
CONFIG_ESP_HOSTED_SPI_GPIO_MISO=15
CONFIG_ESP_HOSTED_SPI_GPIO_CLK=18
CONFIG_ESP_HOSTED_SPI_GPIO_CS=19
CONFIG_ESP_HOSTED_SPI_GPIO_HANDSHAKE=16
CONFIG_ESP_HOSTED_SPI_GPIO_DATA_READY=17
CONFIG_ESP_HOSTED_SPI_GPIO_RESET_SLAVE=54
CONFIG_ESP_HOSTED_SPI_FREQ_ESP32C6=40
CONFIG_ESP_HOSTED_SPI_CLK_FREQ=40
CONFIG_ESP_HOSTED_SPI_TX_Q_SIZE=20
CONFIG_ESP_HOSTED_SPI_RX_Q_SIZE=20
CONFIG_ESP_HOSTED_GPIO_SLAVE_RESET_SLAVE=54

CONFIG_WIFI_RMT_STATIC_RX_BUFFER_NUM=16
CONFIG_WIFI_RMT_DYNAMIC_RX_BUFFER_NUM=64
CONFIG_WIFI_RMT_DYNAMIC_TX_BUFFER_NUM=64
CONFIG_WIFI_RMT_AMPDU_TX_ENABLED=y
CONFIG_WIFI_RMT_TX_BA_WIN=32
CONFIG_WIFI_RMT_AMPDU_RX_ENABLED=y
CONFIG_WIFI_RMT_RX_BA_WIN=32

CONFIG_LWIP_TCP_SND_BUF_DEFAULT=65534
CONFIG_LWIP_TCP_WND_DEFAULT=65534
CONFIG_LWIP_TCP_RECVMBOX_SIZE=64
CONFIG_LWIP_UDP_RECVMBOX_SIZE=64
CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=64
CONFIG_LWIP_TCP_SACK_OUT=y
